$hightlight-color: #f5281d; /*red*/
$shaddow-color: #000; 
$top-font-color: #fff;
$main-font-color: #525252; /*dark-gray*/
$additional-font-color: #9babab; /*light-gray*/

$soft-changing: 7%;
/* #36606e
#395d62
#36535c
#34636e
#5b8d9c
#76a0ac */